body {
  display: flex;
  height: clamp(200px, 100vh, 2000px);
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#main {
  display: block;
}

input,
#save-button {
  width: 20%;
  padding: 8px 5px;
}

#card-description {
  height: 45%;
  width: 35%;
}

.hidden {
  display: none;
}